
html{
    scroll-behavior: smooth;
}

body{
  background-color: #CD853F;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }

h2{
    margin-left: 15px;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }

nav li{
  display:inline;
  padding-right:20px;

}

nav{
  background-color: #DEB887;
  font-size: 18px;
  padding: 25px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav .current {
  color: Brown;
  font-size: 120%;
  text-decoration: underline;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

header{
    background: #8B4513;
    border-bottom: 3px solid #A0522D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    background-attachment: fixed; /* Parallax effect */
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    height: 200px; 
    margin-bottom: 25px;
    background-image: url(../images/h1.jpg);
    background-repeat: no-repeat;
}

p {
    color: black;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
}

.text{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;

}

.projects{
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.projects img{
    border: 10px #A0522D solid;
    margin: 10px;
    width: 300px;
  }

.about_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.about h1{
  color:white;
}

.about_image{
    margin: 0px;
    padding: 15px;
    max-width: 100%;
    height: auto;
  }

.about_text h2{
    margin: 15px;
    font-size: 24px;
    text-align: center;
    color: rgb(50, 50, 50)
}

.about_text p{
    margin: 5px;
    padding: 5px 15px 15px 15px;
    text-align: center;
    font-size: 20px;
    color: rgb(50, 50, 50)
}

h2#projects{
    margin-left: 0;
} 

h2#contact, .contact{
    margin-left: 0;
    background-color: #DEB887;
}

.contact p{
  font-size: 16px;
  padding: 3px 10px;
  text-align: center;
}

.form_container form{
  border: 3px;
  margin-left:20px;
  margin-right:20px;
  padding:10;
}

.form_container label{

  margin-right:10px;
  width:15%;
}

.form_container input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form_container textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form_container input[type=checkbox]{
}

.form_container input[type=submit] {
  background-color: rgb(139,0,0);
  color: white;
  cursor: pointer;
  width: 100%;
}

.form_container input[type=submit]:hover {
  opacity: 0.8;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.house_image{
    grid-row-start: 1;
    grid-row-end: 2;
}

.maintainance_image{
    grid-row-start: 3;
    grid-row-end: 4;
}

.house_text h2{
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

.maintainance_text h2{
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}

.house_image, .maintainance_image{
    width: 200px;
    margin: 15px;
    padding: 15px;
    border: 1px;
  }

.house_text, .maintainance_text{
    margin: 0 0 0 0;
    padding: 15px;
    border: 1px;
    text-align: center;
}

footer{
    background-color: #8B4513;
    padding: 30px;
}

footer p{
  text-align: center;
  color: white;
  vertical-align: baseline;
  font-size: 14px;
  padding: 0 10px;
}

@media only screen and (min-width: 650px){


.about_text h2{
  color:black;
  margin: 20px;
  text-align: left;
  font-size: 26px;
}

  .about_text p{
    font-size: 22px;
    margin: 20px;
    padding: 15px;
    border:1px;
    text-align: left;
    color: rgb(139,0,0);
}
  
  .form_container h2{
    text-align: left;
  }

}

@media all and (min-width: 880px){

.logo{
  text-align: left;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  img{
     width:100%;
  }

  nav{
    padding: 30px 0px;
    text-align: right;
    vertical-align: middle;
  }

  h2{
    margin-top: 15px;
  }

.projects{
    min-height: 600px;
    /*Your code here again.*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.projects img{
    border: 10px #A0522D solid;
    margin: 10px;
    width: 300px;
  }

.about_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.about_image{
    margin: 15px;
    width: 100%;
    padding: 15px;
    border:1px;
    max-width: 600px;
    height: auto;
  }

.about_text h2{
  color:black;
  text-align: left;
  font-size: 28px;
}

.about_text p{
    color:black;
    margin: 15px;
    padding: 15px;
    border:1px;
    text-align: left;
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.house_image{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.maintainance_image{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.house_text h2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.maintainance_text h2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.house_image, .maintainance_image{
    margin: 15px;
    width: 200px;
    margin: 15px;
    padding: 15px;
    border: 1px;
  }

.house_text, .maintainance_text{
    margin: 15px;
    padding: 15px;
    border: 1px;
    text-align: center;
}

footer{
  text-align: center;
}

footer p{
  font-size: 18px;
}

@media screen and (prefers-reduced-motion: reduce){
  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}